<nav class="navbar navbar-default bg-success ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand text-white" href="#">Apolices</a>
    </div>
  </div>
</nav>

<div class="container mt-2">

  <div class="row border border-success rounded">

    <form [formGroup]="apoliceForm" class="needs-validation" novalidate>

      <div class="col-sm-12">
        <div class="form-group">
          <label for="cpf">CPF:</label>
          <input type="text" class="form-control" name="cpf" formControlName="cpf" placeholder="CPF..." >
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label for="documento_vigente">Documento Vigente:</label>
          <input type="text" class="form-control"  name="documento_vigente" formControlName="documento_vigente" placeholder="Documento Vigente..." >
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label for="companhia">Companhia:</label>
          <input type="text" class="form-control" name="companhia" formControlName="companhia" placeholder="Companhia..." >
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <button type="submit" (click)="find()">Pesquisar</button>
        </div>
      </div>

    </form>

  </div>
</div>

  <app-apolice-list [hidden]="showApolices" *ngFor="let apolice of apolices" [apoliceInput]="apolice"></app-apolice-list>
